version: '3.8'

services:
  homarr:
    container_name: homarr
    image: ghcr.io/ajnart/homarr:latest
    restart: unless-stopped
    volumes:
      - ./homarr/configs:/app/data/configs
      - ./homarr/icons:/app/public/icons
      - ./homarr/data:/data
    ports:
      - '7575:7575'
    env_file:
      - .env
    environment:
      - TZ=${TZ:-America/New_York}

  overseerr:
    container_name: overseerr
    image: lscr.io/linuxserver/overseerr:latest
    restart: unless-stopped
    volumes:
      - ./overseerr/config:/config
    ports:
      - '5055:5055'
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=${TZ:-America/New_York}
